!!! 5
html
	head
		| {{ JSGlue.include() }}
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='generator', content='WordPress 4.1')
		title Hello
		link(rel='stylesheet', href="/static/css/bootstrap.min.css", type="text/css")
		link(rel='stylesheet', href="/static/css/font-awesome.min.css", type="text/css")
		link(rel='stylesheet', href="/static/css/packed.css"), type="text/css")

	body
		.row
			#main-title
				#profile
					img(src='https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10342919_293992480772790_183190288337276125_n.png?oh=584000e22d47ccf3fb972819b3abe6c3&oe=555DA6B5&__gda__=1431720308_26239ca46c9bcb7404a31e96164f1ca5&dl=1')
					p
						| 오늘 뭐 먹지?
						br
						| 커뮤니티 센터 · 음식 컨설턴트 · 음식점
			#navigation.sticky
				#search
					i.fa.fa-search.fa-2x(style="padding-right: 10px;")
					input#inputlg.form-control.input-lg(type="text")
			#sidebar.col-md-4.blank.layout-left.sticky(data-top="50px", style="height: 1300px")
				.sidebar-inner.left

			#content.col-md-8.blank.layout-right
				.fb-post.right
					div
						img.uploader(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p50x50/10342919_293992480772790_183190288337276125_n.png?oh=5acd875fe3cd2832f7c292c48630f402&oe=556BF977&__gda__=1431824139_4497504d2b7ff9167da1a53ac5a534fa')
						div(style='padding: 10px 0px 0px 70px; line-height: 20px;')
							| 오늘 뭐 먹지?님이 2 new photos을 추가했습니다.
							br
							| 2014년 12월 25일 오후 12:51
							br
					p.fb-post-content
						| 딸기는 사랑이죠 smile 이모티콘
						br
						| 첫번째사진은 요거프레소 메리딸기 6000원
						br
						| 두번째사진은 커피니 딸기파르페 6500원
						br
						| 세번째사진은 카페드파리 딸기봉봉 14000원
						br
						| 네번째사진은 그냥 마트에서 산딸기
						br
						| 다섯번째,여섯번째 사진은 뚜레쥬르 케잌
						br
						| 일곱번째사진은 설빙 딸기빙수 9000원인가..그랫던거같아요
						br
						| 여덟번째사진은 강남 베스킨라빈스카페 딸기파르페 9000원일꺼에요
						br
						| 아홉번째사진은 모찌이야기 딸기모찌 키위모찌 한개 2300원일꺼에요!
						br
						| 후기는 다맛있어요 딸기는 사랑입니다
						br
						| 특히 카페드파리 딸기봉봉은 꼭 드셔보세요!
						br
						| 남자친구 김벽수 함께 해줘서 고마워 smile 이모티콘
						br
						| By. 김다솜님
					img(src='https://scontent-b.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10945010_582993195206049_4700198088062835894_n.jpg?oh=4460dfd83760c256bc292be4997c7b37&oe=555AAD71')
				.fb-post.right
					div
						img.uploader(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p50x50/10342919_293992480772790_183190288337276125_n.png?oh=5acd875fe3cd2832f7c292c48630f402&oe=556BF977&__gda__=1431824139_4497504d2b7ff9167da1a53ac5a534fa')
						div(style='padding: 10px 0px 0px 70px; line-height: 20px;')
							| 오늘 뭐 먹지?님이 2 new photos을 추가했습니다.
							br
							| 2014년 12월 25일 오후 12:51
							br
					p.fb-post-content
						| 딸기는 사랑이죠 smile 이모티콘
						br
						| 첫번째사진은 요거프레소 메리딸기 6000원
						br
						| 두번째사진은 커피니 딸기파르페 6500원
						br
						| 세번째사진은 카페드파리 딸기봉봉 14000원
						br
						| 네번째사진은 그냥 마트에서 산딸기
						br
						| 다섯번째,여섯번째 사진은 뚜레쥬르 케잌
						br
						| 일곱번째사진은 설빙 딸기빙수 9000원인가..그랫던거같아요
						br
						| 여덟번째사진은 강남 베스킨라빈스카페 딸기파르페 9000원일꺼에요
						br
						| 아홉번째사진은 모찌이야기 딸기모찌 키위모찌 한개 2300원일꺼에요!
						br
						| 후기는 다맛있어요 딸기는 사랑입니다
						br
						| 특히 카페드파리 딸기봉봉은 꼭 드셔보세요!
						br
						| 남자친구 김벽수 함께 해줘서 고마워 smile 이모티콘
						br
						| By. 김다솜님
					img(src='https://scontent-b.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10945010_582993195206049_4700198088062835894_n.jpg?oh=4460dfd83760c256bc292be4997c7b37&oe=555AAD71')
			#footer


		script(type='text/javascript', src='//code.jquery.com/jquery-2.1.3.min.js')
		script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
		script(type="text/javascript", src="/static/js/packed.js")