!!! 5
html(lang='en-US')
head
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name='generator', content='WordPress 4.1')
	title  &raquo; Page &ndash; Right Sidebar
	link(rel='stylesheet', href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", type="text/css")
	link(rel='stylesheet', href="/static/css/style.css", type="text/css")
	link(rel='stylesheet', href="/static/css/packed.css", type="text/css")
	link(rel='stylesheet', href="/static/css/font-awesome.min.css", type="text/css")
	script(type='text/javascript', src='//code.jquery.com/jquery-2.1.3.min.js')
	script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
	script(type='text/javascript', src='//peliegro.bwdesk.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1')
	script(type='text/javascript', src='//peliegro.bwdesk.com/wp-content/themes/peliegro/assets/js/vendors/modernizr/modernizr.custom.js?ver=1.0')

body.page.page-id-1839.page-template-default
	#peliegro-search
		.bw-table
			.bw-cell
				.row
					.bw-close &#x2715;
					form.search-form(role='search', method='get', action='//peliegro.bwdesk.com/')
						div
							label.screen-reader-text Search for:
							input.search-field(type='text', value='', placeholder='Start typing here...', name='s', autocomplete='off')
							button.search-submit(type='submit')
								i.fa.fa-search
	#wrapper
		#head
			| Hello
		.row
			header#header.sticky
				nav#navigation(data-top='200px')
					div
						i.fa.fa-search.fa-2x(style="margin-left: -70px")
						input#inputlg.form-control.input-lg(type="text")
			#container
				#content
					article.post-1839.page.type-page.status-publish.hentry.page-content
						.page-inner.layout-right.board
							div.fb_post
								div
									img(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p50x50/10342919_293992480772790_183190288337276125_n.png?oh=5acd875fe3cd2832f7c292c48630f402&oe=556BF977&__gda__=1431824139_4497504d2b7ff9167da1a53ac5a534fa', style='border: solid 1px #eeeeee; float: left;')
									div(style='padding: 10px 0px 0px 70px; line-height: 20px;')
										| 오늘 뭐 먹지?님이 2 new photos을 추가했습니다.
										br
										| 2014년 12월 25일 오후 12:51
										br
								p.fb_post_content
									| 딸기는 사랑이죠 smile 이모티콘
									br
									| 첫번째사진은 요거프레소 메리딸기 6000원
									br
									| 두번째사진은 커피니 딸기파르페 6500원
									br
									| 세번째사진은 카페드파리 딸기봉봉 14000원
									br
									| 네번째사진은 그냥 마트에서 산딸기
									br
									| 다섯번째,여섯번째 사진은 뚜레쥬르 케잌
									br
									| 일곱번째사진은 설빙 딸기빙수 9000원인가..그랫던거같아요
									br
									| 여덟번째사진은 강남 베스킨라빈스카페 딸기파르페 9000원일꺼에요
									br
									| 아홉번째사진은 모찌이야기 딸기모찌 키위모찌 한개 2300원일꺼에요!
									br
									| 후기는 다맛있어요 딸기는 사랑입니다
									br
									| 특히 카페드파리 딸기봉봉은 꼭 드셔보세요!
									br
									| 남자친구 김벽수 함께 해줘서 고마워 smile 이모티콘
									br
									| By. 김다솜님
									br
								img(src='https://scontent-b.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10945010_582993195206049_4700198088062835894_n.jpg?oh=4460dfd83760c256bc292be4997c7b37&oe=555AAD71')
						#sidebar.sticky
							.sidebar-inner
								aside#text-7.widget.widget-title(data-top='200px')
									h3.widget-title About me
									.textwidget
										div(style='width:100%;text-align:center;')
											img(src='//peliegro.bwdesk.com/wp-content/uploads/2014/12/about-me-sidebar.jpg', alt='', style='max-width:100%;')
										p(style='margin-top:20px;')
											| Quisque felis quam, sollicitudin in justo non, maximus sagittis ipsum. Aenean sodales tempus turpis, ut pulvinar orci sagittis a.
										a.post-more(href='/felix/demo/about/', style='margin-bottom:5px;') Learn more about me
								aside#text-7.widget.widget_text
									h3.widget-title About me
									.textwidget
										div(style='width:100%;text-align:center;')
											img(src='//peliegro.bwdesk.com/wp-content/uploads/2014/12/about-me-sidebar.jpg', alt='', style='max-width:100%;')
										p(style='margin-top:20px;')
											| Quisque felis quam, sollicitudin in justo non, maximus sagittis ipsum. Aenean sodales tempus turpis, ut pulvinar orci sagittis a.
										a.post-more(href='/felix/demo/about/', style='margin-bottom:5px;') Learn more about me
											#footer
					div.footer-widgets
						.bw-col
							aside#recent-posts-3.widget.widget_recent_entries
								h3.widget-title Recent Posts
								ul.bw-sidebar-posts
									li
										.thumb
											a(href='//peliegro.bwdesk.com/hello-world/', title='Standard post')
												img.attachment-thumbnail.wp-post-image(width='150', height='150', src='//peliegro.bwdesk.com/wp-content/uploads/2014/12/15-150x150.jpg', alt='15')
										.cont
											a(href='//peliegro.bwdesk.com/hello-world/', title='Standard post')
												Standard post
											p Pellentesque lobortis dolor ante, ut hendrerit&mldr;
									li
										.thumb
											a(href='//peliegro.bwdesk.com/no-se-que/', title='Justified gallery post')
												img.attachment-thumbnail.wp-post-image(width='150', height='150', src='//peliegro.bwdesk.com/wp-content/uploads/2014/10/14-150x150.jpg', alt='14')
										.cont
											a(href='//peliegro.bwdesk.com/no-se-que/', title='Justified gallery post')
												Justified gallery post
											p Curabitur sit amet sapien sit amet&mldr;
									li
										.thumb
											a(href='//peliegro.bwdesk.com/another-test/', title='Slider gallery post')
												img.attachment-thumbnail.wp-post-image(width='150', height='150', src='//peliegro.bwdesk.com/wp-content/uploads/2014/10/11-150x150.jpg', alt='11')
										.cont
											a(href='//peliegro.bwdesk.com/another-test/', title='Slider gallery post')
												Slider gallery post
											p Cras cursus, risus nec sagittis sollicitudin.&mldr;
						.bw-col
							aside#text-2.widget.widget_text
								h3.widget-title General
								.textwidget
									i.footer-icon.fa.fa-envelope
										| company@email.com
									br
									i.footer-icon.fa.fa-phone
										| +44 123 100500
									br
									i.footer-icon.fa.fa-globe
										| www.peenapo.com
							aside#text-3.widget.widget_text
								.textwidget
									ul.footer-social
										li
											a(href='#')
												i.fa.fa-facebook
										li
											a(href='#')
												i.fa.fa-twitter
										li
											a(href='#')
												i.fa.fa-google-plus
										li
											a(href='#')
												i.fa.fa-pinterest
										li
											a(href='#')
												i.fa.fa-dribbble
										li
											a(href='#')
												i.fa.fa-instagram
						.bw-col
							aside#text-4.widget.widget_text
								h3.widget-title Get in touch
								.textwidget
									#wpcf7-f1807-o1.wpcf7(lang='en-US', dir='ltr')
										.screen-reader-response
										form.wpcf7-form(name='', action='/page-right-sidebar/#wpcf7-f1807-o1', method='post', novalidate='novalidate')
											div(style='display: none;')
												input(type='hidden', name='_wpcf7', value='1807')
												input(type='hidden', name='_wpcf7_version', value='4.0.3')
												input(type='hidden', name='_wpcf7_locale', value='en_US')
												input(type='hidden', name='_wpcf7_unit_tag', value='wpcf7-f1807-o1')
												input(type='hidden', name='_wpnonce', value='619ee6dfb6')
											p
												span.wpcf7-form-control-wrap.your-name
													input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Name')
											p
												span.wpcf7-form-control-wrap.your-email
													input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Email')
											p
												span.wpcf7-form-control-wrap.your-message
													textarea.wpcf7-form-control.wpcf7-textarea(name='your-message', cols='40', rows='10', aria-invalid='false', placeholder='Message')
											p
												input.wpcf7-form-control.wpcf7-submit(type='submit', value='Send')
											.wpcf7-response-output.wpcf7-display-none
					div.top-bar(style='background-color:#111')
						.row
							span.back-top.round(style='background-color:#111') Back to top
							img(src='//peliegro.bwdesk.com/wp-content/uploads/2014/12/peliegro-logo-footer.png', alt='footer-logo')
					div.bottom-bar
						.row
							p.copyright-text
								Handmade with love by
							a(href='//themeforest.net/user/Peenapo/portfolio?ref=Peenapo', target='_blank') Peenapo
							| &copy; 2014
							.right-part-menu
								.menu-footer-container
									ul#menu-footer.menu
										li#menu-item-1710.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-1710
											a(href='#') Help center
										li#menu-item-1711.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-1711
											a(href='#') Advertisement
										li#menu-item-1712.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-1712
											a(href='#') Privacy
										li#menu-item-1714.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1714
											a(href='//peliegro.bwdesk.com/contact-page-map/') Contact
												script(type='text/javascript', src='//peliegro.bwdesk.com/wp-includes/js/comment-reply.min.js?ver=4.1')
script(type='text/javascript', src='//peliegro.bwdesk.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20')
script(type='text/javascript').
	/* <![CDATA[ */
	var _wpcf7 = {
		"loaderUrl": "http:\\/\/peliegro.bwdesk.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif",
		"sending": "Sending ..."
	};
	/* ]]> */
script(type='text/javascript', src='//peliegro.bwdesk.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.0.3')
script(type='text/javascript', src='//peliegro.bwdesk.com/wp-content/themes/peliegro/bw/lib/acf/js/custom-admin.js?ver=1.0')
script(type='text/javascript', src='//peliegro.bwdesk.com/wp-content/themes/peliegro/assets/js/vendors/tween-max/tweenmax.min.js?ver=1.0')
script(type='text/javascript', src='//peliegro.bwdesk.com/wp-content/themes/peliegro/bw/assets/js/shortcode.js?ver=1.0')
script(type='text/javascript', src='//peliegro.bwdesk.com/wp-content/themes/peliegro/assets/js/vendors/smoothscroll/smoothscroll.min.js?ver=1.0')
script(type='text/javascript').
	/* <![CDATA[ */
	var bw_options = {
		"themesurl": "http:\\/\/peliegro.bwdesk.com\/wp-content\/themes\/peliegro",
		"ismobile": ""
	};
	/* ]]> */
script(type='text/javascript', src='//peliegro.bwdesk.com/wp-content/themes/peliegro/assets/js/vendors/plugins.js?ver=1.0')
script(type='text/javascript', src='//maps.google.com/maps/api/js?sensor=false&ver=1.0')
script(type='text/javascript').
	/* <![CDATA[ */
	var addthis_config = {
		"ui_click": "",
		"ui_508_compliant": "",
		"ui_use_css": "1",
		"data_track_addressbar": "",
		"data_track_clickback": ""
	};
	var addthis_share = {
		"url": "http:\\/\/peliegro.bwdesk.com\/page-right-sidebar\/",
		"title": "Page \\u2013 Right Sidebar",
		"description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae nisi vulputate, commodo velit ac, auctor tortor. Vivamus facilisis ante eros, id placerat justo rutrum sed. Ut rutrum, neque ac auctor placerat, est velit consectetur nulla, vel commodo risus lectus quis enim. Vivamus tincidunt tortor ut sapien aliquam tincidunt. Donec sapien nulla, euismod eu vehicula a, varius eget sapien. Morbi nec purus ac odio venenatis ..."
	};
	/* ]]> */
script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js?ver=1.0#pubid=ra-534b93e766f14c42')
script(type='text/javascript').
	/* <![CDATA[ */
	var bw_theme_ajax = {
		"ajax": "http:\\/\/peliegro.bwdesk.com\/wp-admin\/admin-ajax.php",
		"nonce": "da5396db23"
	};
	/* ]]> */
script(type='text/javascript', src='//peliegro.bwdesk.com/wp-content/themes/peliegro/assets/js/main.js?ver=1.0')